<html>
<body>
    <script src="https://cdn.auth0.com/js/auth0/9.11/auth0.min.js"></script>
    <script type="text/javascript">
        var webAuth = new auth0.WebAuth({
            domain: "{domain}",
            clientID: "{client ID}"
        });
        webAuth.popup.callback();
    </script>
</body>
</html>